li {
    list-style-type: none;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.completed{
    color: green;
}

.hide{
    display: none;
}

.filtered{
    background: green ;
}